<div id="<%= dom_id employee_datum %>">
  <p>
    <strong>Name:</strong>
    <%= employee_datum.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee_datum.role %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee_datum.salary %>
  </p>

</div>
